<div class="{{classes.chats-list}} {{className}}">
  {{#each chats as |chat|}}
    {{>comp name="ChatPreview"
      key=chat.id
      chatInfo=chat
      $click=@root.selectChat
    }}
  {{/each}}
</div>