<div class="{{classes.login-page}}">
  {{#>comp name="Card" title="Привет" className=classes.login-page__card}}
    {{#>slot name="body"}}
      {{#each inputs}}
        {{>comp name="TextField" 
          inputName=this.name
          label=this.label
          placeholder=this.placeholder
          error=this.error
          validate=this.validate
        }}
      {{/each}}
    {{/slot}}
    {{#>slot name="actions"}}
      {{#each buttons}}
        {{>comp name="Button" text=this.text type=this.type $click=this.click}}
      {{/each}}
    {{/slot}}
  {{/comp}}
</div>