<div class="{{classes.overlay}}" style="{{#if isHide}} display: none;{{/if}}">
  {{#>comp name="Card" title="Создание чата" className=@root.classes.card}}
    {{#>slot name="body"}}
      <div class="{{@root.classes.card__body-wrapper}}">
        {{>comp name="TextField"
            inputName="chatName"
            label="Название чата"
            value=@root.chatName
            validate=@root.validateChatName
            placeholder="Введите название чата"
            className=@root.classes.card__input
        }}
      </div>
    {{/slot}}
    {{#>slot name="actions"}}
      <div class="{{@root.classes.card__action-wrapper}}">
        {{>comp name="Button" 
              type="fill"
              text="Создать"
              $click=@root.create
        }}
        {{>comp name="Button" 
              text="Отмена"
              $click=@root.cancel
        }}
      </div>
    {{/slot}}
  {{/comp}}
</div>