@import '../../utils/variables.scss';

.text-field {
  font-size: $extra-slam-text;
  &__label {
    display: block;

    padding-left: 7px;
    padding-bottom: 1px;
  }

  &__input {
    display: block;
    background: none;
    font-size: $base-text;
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 4px;
    padding: 6px 20px;
  }

  &__error {
    display: block;
    height: 11px;

    color: $color-error;
    padding: 1px 0;
  }
}
