.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__card {
    width: 300px;
    height: 730px;
  }
}

.card_gaps {
  & > * {
    margin: 2.5px 0;
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.buttons_wrapper {
  & > * {
    margin: 5px 0;
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  width: 100%;
  justify-content: end;
}
