@use 'sass:color';
@import '../../../../utils/mixins';
@import '../../../../utils/variables';

.user-list {
  padding: 30px;
  width: 400px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    width: 100%;

    input {
      background-color: $color-gray-light;
      border-color: $color-gray-light;
    }
  }

  &__list {
    @include scrollable;

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .remove-btn {
    margin-top: 30px;
    color: $color-error;
    border: 1px solid $color-error;
    background-color: color.adjust($color-error, $lightness: 27%);
  }
}
