@import '../../utils/variables.scss';
.card {
  background: $color-white;
  box-shadow: 0px 0px 6px $shadow-color;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    padding: 20px 0;
    text-align: center;
    font-size: $extra-large-text;
  }
  &__splitter {
    flex-grow: 1;
  }

  &__body,
  &__actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin: 5px 0;
    }
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
    width: 100%;
  }
  &__actions {
    justify-content: end;
  }
}
