@import '../../../../utils/variables';

.overlay {
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0 0 0 / 70%);
}

.profile {
  padding: 30px;
  width: 400px;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action-wrapper,
  &__body-wrapper {
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 5px 0;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__action-wrapper {
    *:first-child {
      margin-top: 20px;
    }
  }

  &__avatar {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    border-radius: 50%;
    font-size: 64px;
    position: relative;

    &_edit {
      &:hover {
        &::after {
          content: 'Сменить аватар';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-overlay;
          font-size: $medium-text;
          color: white;
        }
      }
    }
  }

  &__error {
    font-size: $extra-slam-text;
    color: $color-error;
  }

  &__user-name {
    font-size: $extra-large-text;
  }

  &__input {
    width: 100%;

    input {
      background-color: $color-gray-light;
      border-color: $color-gray-light;
    }

    &_edit {
      input {
        background: none;
        border: 1px solid $color-border;
      }
    }
  }
}
