{{#*inline "setting"}}
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.9276 3.99969L15.4646 2.00034C14.773 3.19575 13.4804 4 12 4C10.5195 4 9.22696 3.19575 8.53529 2.00034L5.07233 3.99968C5.76175 5.19639 5.81196 6.71792 5.07175 8.00001C4.33154 9.28209 2.98876 9.99938 1.60767 10.0007V13.9993C2.98876 14.0006 4.33154 14.7179 5.07175 16C5.81196 17.2821 5.76175 18.8036 5.07233 20.0003L8.53529 21.9997C9.22696 20.8042 10.5195 20 12 20C13.4804 20 14.773 20.8042 15.4646 21.9997L18.9276 20.0003C18.2382 18.8036 18.188 17.2821 18.9282 16C19.6684 14.7179 21.0112 14.0006 22.3923 13.9993V10.0007C21.0112 9.99937 19.6684 9.28208 18.9282 8.00001C18.188 6.71793 18.2382 5.1964 18.9276 3.99969ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79083 8 7.99997 9.79086 7.99997 12C7.99997 14.2091 9.79083 16 12 16Z"
      stroke-width="2"
    ></path>
  </svg>
{{/inline}}

{{#*inline "trash"}}
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M6 7H18V21C18 21.5523 17.5523 22 17 22H7C6.44771 22 6 21.5523 6 21V7Z" stroke-width="2" stroke-linejoin="round"/>
    <line x1="10" y1="10" x2="10" y2="19" stroke-width="2"/>
    <line x1="4" y1="4" x2="20" y2="4" stroke-width="2"/>
    <line x1="9" y1="3" x2="15" y2="3" stroke-width="2"/>
    <line x1="14" y1="10" x2="14" y2="19" stroke-width="2"/>
  </svg>
{{/inline}}

{{#*inline "info"}}
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="12" cy="12" r="10" stroke-width="2" />
    <line x1="12.0833" y1="11.0833" x2="12.0833" y2="16.5833" stroke-width="2" />
    <line x1="12.0833" y1="7.41666" x2="12.0833" y2="9.24999" stroke-width="2" />
  </svg>
{{/inline}}

{{#*inline "close"}}
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line x1="3.51472" y1="3.51473" x2="20.4853" y2="20.4853" stroke-width="2" />
    <line x1="20.4853" y1="3.51472" x2="3.51474" y2="20.4853" stroke-width="2" />
  </svg>
{{/inline}}

{{#*inline "edit"}}
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12.6673 7.30331L16.2028 10.8388L9.33764 17.704L4.79196 18.7142L5.80211 14.1685L12.6673 7.30331ZM17.617 9.42463L14.0815 5.88909L15.8492 4.12133C16.2398 3.7308 16.8729 3.7308 17.2635 4.12133L19.3848 6.24265C19.7753 6.63317 19.7753 7.26634 19.3848 7.65686L17.617 9.42463Z"
      stroke-width="2"
    />
  </svg>
{{/inline}}

{{#*inline "done"}}
  <!-- done -->
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line x1="4.70711" y1="11.2929" x2="10.7071" y2="17.2929" stroke-width="2" />
    <line x1="9.29289" y1="17.2929" x2="20.2929" y2="6.29289" stroke-width="2" />
  </svg>
{{/inline}}

{{#*inline "plus"}}
  <svg 
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <line x1="2" y1="12" x2="22" y2="12" stroke-width="2"/>
    <line x1="12" y1="22" x2="12" y2="2" stroke-width="2"/>
  </svg>
{{/inline}}

<span class="{{classes.icon}} {{className}}" $click="iconClick">
  {{>(lookup . "iconName")}}
</span>