@import '../../utils/variables';

.chats-page {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 5px;

  .chats-preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 345px;
    background: $color-gray-extra-light;
    border-radius: 7px;
    margin-right: 5px;

    &__header {
      display: flex;
      align-items: center;
      margin: 25px 12px 20px 25px;

      .search-field {
        margin-left: 5px;
        flex-grow: 1;

        input {
          background-color: $color-gray-light;
          border-color: $color-gray-light;
        }
      }
    }

    &__chats-list {
      flex-grow: 1;
    }
  }

  .chat-view {
    flex-grow: 1;
  }

  .empty-chat-view {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $extra-large-text;
  }
}
