@use 'sass:color';

@mixin scrollable() {
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-right: 3px;
  scrollbar-color: darkgray transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;

    &:hover {
      background-color: color.adjust(darkgray, $lightness: -15%);
    }
  }
}
