$extra-slam-text: 9px;
$slam-text: 12px;
$base-text: 14px;
$medium-text: 16px;
$large-text: 18px;
$extra-large-text: 20px;

$color-primary: #409eff;
$color-primary-dark: #337ecc;
$color-primary-light: #a0cfff;
$color-primary-extra-light: #ecf5ff;

$color-gray: #c8c9cc;
$color-gray-dark: #a8a7a7;
$color-gray-light: #dcdfe6;
$color-gray-extra-light: #f8f8f8;

$color-error: #f56c6c;
$color-warning: #e6a23c;

$color-white: #fff;
$color-black: #000;

$color-placeholder-text: #a8abb2;
$color-border: #e4e7ed;
$color-overlay: rgba(0, 0, 0, 0.5);
$shadow-color: rgba(0, 0, 0, 0.25);
