<div class='card'>
  <div class='card__title'>{{title}} {{test}}</div>
  {{>slot name='default'}}
  {{>slot name='actions'}}
  {{#>slot name='other'}}
    <div>Default content slot other</div>
  {{/slot}}
</div>