@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './utils/variables.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  background: linear-gradient(300deg, #ebf4f5 0%, #b5c6e0 100%);
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: url('./assets/deer.png') top left / 7%;
    opacity: 0.17;
    z-index: -1;
  }
}

a {
  background-color: transparent;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
