<div class='{{classes.text-field}} {{className}}'>
  {{>comp name="Label"
      className=classes.text-field__label
      inputName=inputName
      text=label
  }}
  {{>comp name="Input"
      className=classes.text-field__input
      inputName=inputName 
      placeholder=placeholder
      type=type
      validate=validate
      $blur=validateInput
      $focus=validateInput
  }}
  {{>comp name="Label"
      className=classes.text-field__error
      inputName=inputName
      text=error
  }}
</div>