.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__card {
    padding-top: 149px - 20px;
    width: 900px;
    height: 629px;
  }

  &__code {
    font-size: 96px;
    line-height: 112px;
  }

  &__message {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  &__button {
    padding-top: 60px;
    width: 220px;
    text-align: center;
  }
}
